@import '../../../app.component.scss';

p {
  text-align: center;
  color: white;
  transition: opacity 0.1s linear;

  a {
    color: white;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:hover {
      opacity:0.5;
    }
  }
}
